<?xml version="1.0"?>
<parameters>

    <!-- Connection details -->
    <dbtype>postgres</dbtype>
    <driver>org.postgresql.Driver</driver>
    <DBUrl>jdbc:postgresql://{{ POSTGRES_IP }}:5432/twitter</DBUrl>
    <DBName>twitter</DBName>
    <username>postgres</username>
    <password>hardpasswordpostgres123</password>
    <isolation>TRANSACTION_SERIALIZABLE</isolation>
    <policy>{{ SCHED_POLICY }}</policy>
    <pred_history>{{ PRED_HISTORY }}</pred_history>
    <alpha>{{ ALPHA }}</alpha>
    <gedf_factor>{{ GEDF_FACTOR }}</gedf_factor>
    <fixed_deadline>{{ FIXED_DEADLINE }}</fixed_deadline>
    <random_page_cost>{{ RANDOM_PAGE_COST }}</random_page_cost>
    <num_bins>{{ NUM_BINS }}</num_bins>
    <buffer_size>{{ BUFFER_SIZE }}</buffer_size>
    <bin_window_threshold>{{ BIN_WINDOW_THRESHOLD }}</bin_window_threshold>
          
    <!-- Scalefactor in Twitter scales by *500 the number of users-->
    <scalefactor>380</scalefactor>
    
    
	<!-- Trace files for Twitter -->
    <tracefile>config/traces/twitter_tweetids.txt</tracefile>
    <tracefile2>config/traces/twitter_user_ids.txt</tracefile2>
    <base_ip>10.1.</base_ip>
    
    <!-- The workload -->
    <terminals>10</terminals>
    <works>
        <work>
	    <time>{{ TIMEOUT }}</time>
	    <rate>{{ RATE }}</rate>
	    <!--weights>0.07,0.07,7.6725,91.2656,0.9219</weights -->
            <weights>25,9100,25,750,100</weights>
        </work>
    </works>
   
    <!-- Twitter Procedures declaration -->
    <transactiontypes>
        <transactiontype>
                <name>GetTweet</name>
        </transactiontype>
        <transactiontype>
                <name>GetTweetsFromFollowing</name>
        </transactiontype>
        <transactiontype>
                <name>GetFollowers</name>
        </transactiontype>
        <transactiontype>
                <name>GetUserTweets</name>
        </transactiontype>
        <transactiontype>
                <name>InsertTweet</name>
        </transactiontype>
    </transactiontypes>
</parameters>
